apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/port: "8080"
    prometheus.io/scheme: http
    prometheus.io/scrape: "true"
    prometheus.io/path: /q/metrics
  labels:
    app.kubernetes.io/name: tackle-controls
    app.kubernetes.io/part-of: tackle
    app.kubernetes.io/component: rest
  name: tackle-controls
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app.kubernetes.io/name: tackle-controls
    app.kubernetes.io/part-of: tackle
  type: ClusterIP
